/* Break-point 媒体查询
-------------------------- */
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

// Layout 响应式布局
$--breakpoints: (
  // < 768px
  "xs": (max-width: $--sm - 1),
  // >= 768px
  "sm": (min-width: $--sm ),
  // >= 992px
  "md": (min-width: $--md ),
  // >= 1200px
  "lg": (min-width: $--lg ),
  // >= 1920px
  "xl": (min-width: $--xl ),
);

// 隐藏类 相关
$--breakpoints-spec: (
  // 当视口在 xs 尺寸时隐藏
  "xs-only": (max-width: $--sm - 1),
  // 当视口在 sm 及以上尺寸时隐藏
  "sm-and-up": (min-width: $--sm),
  // 当视口在 sm 尺寸时隐藏
  "sm-only": (min-width: #{$--sm}) and (max-width: #{$--md - 1}),
  // 当视口在 sm 及以下尺寸时隐藏
  "sm-and-down": (max-width: $--md - 1),
  // 当视口在 md 及以上尺寸时隐藏
  "md-and-up": (min-width: $--md),
  // 当视口在 md 尺寸时隐藏
  "md-only": (min-width: #{$--md}) and (max-width: #{$--lg - 1}),
  // 当视口在 md 及以下尺寸时隐藏
  "md-and-down": (max-width: $--lg - 1),
  // 当视口在 lg 及以上尺寸时隐藏
  "lg-and-up": (min-width: $--lg),
  // 当视口在 lg 尺寸时隐藏
  "lg-only": (min-width: #{$--lg}) and (max-width: #{$--xl - 1}),
  // 当视口在 lg 及以下尺寸时隐藏
  "lg-and-down": (max-width: $--xl - 1),
  // 当视口在 xl 尺寸时隐藏
  "xl-only": (min-width: $--xl)
);

/* Header
-------------------------- */
$--header-padding: 0 20px !default;

/* Footer
-------------------------- */
$--footer-padding: 0 20px !default;

/* Main
-------------------------- */
$--main-padding: 0 20px !default;

/* Color 色彩
-------------------------- */
// 主色
$--color-primary: #409eff !default;
/// 基础白色
$--color-white: #ffffff !default;
/// 基础黑色
$--color-black: #000000 !default;
/// 主色 & 基础白色 混合
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

// 辅助色
/// 成功色
$--color-success: #67c23a !default;
$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
/// 警告色
$--color-warning: #e6a23c !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
/// 危险色
$--color-danger: #f56c6c !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
/// 信息色
$--color-info: #909399 !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

// 中性色
/// 主要文字色
$--color-text-primary: #303133 !default;
/// 常规文字色
$--color-text-regular: #606266 !default;
/// 次要文字色
$--color-text-secondary: #909399 !default;
/// 占位文字色
$--color-text-placeholder: #c0c4cc !default;
/// 一级边框
$--border-color-base: #dcdfe6 !default;
/// 二级边框
$--border-color-light: #e4e7ed !default;
/// 三级边框
$--border-color-lighter: #ebeef5 !default;
/// 四级边框
$--border-color-extra-light: #f2f6fc !default;

// 背景
/// 基础背景色
$--background-color-base: #f5f7fa !default;

/* Typography 字体
-------------------------- */
/// @font-face 下的字体路径
$--font-path: 'fonts' !default;
// @font-face 下如何展示
$--font-display: 'auto' !default;

// 字体大小
/// 主标题
$--font-size-extra-large: 20px !default;
/// 标题
$--font-size-large: 18px !default;
/// 小标题
$--font-size-medium: 16px !default;
/// 正文
$--font-size-base: 14px !default;
/// 正文 (小)
$--font-size-small: 13px !default;
/// 辅助文字
$--font-size-extra-small: 12px !default;

// 字体粗细
/// primary
$--font-weight-primary: 500 !default;
/// secondary
$--font-weight-secondary: 100 !default;

// 行高
/// primary
$--font-line-height-primary: 24px !default;
/// secondary
$--font-line-height-secondary: 16px !default;

// 字体颜色
/// 禁用色
$--font-color-disabled-base: #bbb !default;

/* Border 边框
-------------------------- */
/// 基础边框宽度
$--border-width-base: 1px !default;
/// 基础边框样式 实线
$--border-style-base: solid !default;
/// hover 时边框颜色
$--border-color-hover: $--color-text-placeholder !default;
/// 基础边框样式
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;

// 边框圆角
/// 大圆角
$--border-radius-base: 4px !default;
/// 小圆角
$--border-radius-small: 2px !default;
/// 圆形
$--border-radius-circle: 100% !default;
/// 无圆角
$--border-radius-zero: 0 !default;

// 投影
/// 基础投影
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
/// 深色投影
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
/// 浅色投影
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* Button 按钮
-------------------------- */
/// 字体大小
$--button-font-size: $--font-size-base !default;
/// 字体粗细
$--button-font-weight: $--font-weight-primary !default;
/// 边框圆角
$--button-border-radius: $--border-radius-base !default;
/// 垂直内间距
$--button-padding-vertical: 12px !default;
/// 水平内间距
$--button-padding-horizontal: 20px !default;

// 禁用按钮（边框颜色、字体颜色、背景颜色）
$--button-disabled-border-color: $--border-color-lighter !default;
$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;

// 默认按钮（边框颜色、字体颜色、背景颜色）
$--button-default-border-color: $--border-color-base !default;
$--button-default-font-color: $--color-text-regular !default;
$--button-default-background-color: $--color-white !default;

// 主要按钮（边框颜色、字体颜色、背景颜色）
$--button-primary-border-color: $--color-primary !default;
$--button-primary-font-color: $--color-white !default;
$--button-primary-background-color: $--color-primary !default;

// 成功按钮（边框颜色、字体颜色、背景颜色）
$--button-success-border-color: $--color-success !default;
$--button-success-font-color: $--color-white !default;
$--button-success-background-color: $--color-success !default;

// 警告按钮（边框颜色、字体颜色、背景颜色）
$--button-warning-border-color: $--color-warning !default;
$--button-warning-font-color: $--color-white !default;
$--button-warning-background-color: $--color-warning !default;

// 危险按钮（边框颜色、字体颜色、背景颜色）
$--button-danger-border-color: $--color-danger !default;
$--button-danger-font-color: $--color-white !default;
$--button-danger-background-color: $--color-danger !default;

// 信息按钮（边框颜色、字体颜色、背景颜色）
$--button-info-border-color: $--color-info !default;
$--button-info-font-color: $--color-white !default;
$--button-info-background-color: $--color-info !default;

// 按钮尺寸（字体、边框圆角、水平间距、垂直间距）
/// 中等按钮
$--button-medium-font-size: $--font-size-base !default;
$--button-medium-border-radius: $--border-radius-base !default;
$--button-medium-padding-vertical: 10px !default;
$--button-medium-padding-horizontal: 20px !default;

/// 小型按钮
$--button-small-font-size: 12px !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-small-padding-vertical: 9px !default;
$--button-small-padding-horizontal: 15px !default;

/// 超小按钮
$--button-mini-font-size: 12px !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-padding-vertical: 7px !default;
$--button-mini-padding-horizontal: 15px !default;

// 颜色百分比
/// hover、focus
$--button-hover-tint-percent: 20% !default;
/// active
$--button-active-shade-percent: 10% !default;

/* Link 文字链接
-------------------------- */
/// 字体大小
$--link-font-size: $--font-size-base !default;
/// 字体粗细
$--link-font-weight: $--font-weight-primary !default;

// 字体颜色
/// 默认链接
$--link-default-font-color: $--color-text-regular !default;
/// 默认链接 活动状态
$--link-default-active-color: $--color-primary !default;
/// 禁用链接
$--link-disabled-font-color: $--color-text-placeholder !default;
/// 主要链接
$--link-primary-font-color: $--color-primary !default;
/// 成功链接
$--link-success-font-color: $--color-success !default;
/// 警告链接
$--link-warning-font-color: $--color-warning !default;
/// 危险链接
$--link-danger-font-color: $--color-danger !default;
/// 信息链接
$--link-info-font-color: $--color-info !default;

/* Alert 警告
-------------------------- */
/// 内间距
$--alert-padding: 8px 16px !default;
/// 边框圆角
$--alert-border-radius: $--border-radius-base !default;

// 字体大小
/// 标题
$--alert-title-font-size: 13px !default;
/// 辅助性文字
$--alert-description-font-size: 12px !default;
/// 关闭按钮
$--alert-close-font-size: 12px !default;
/// 前置图标
$--alert-icon-size: 16px !default;
/// 大前置图标
$--alert-icon-large-size: 28px !default;
/// 自定义关闭按钮
$--alert-close-customed-font-size: 13px !default;

// 背景色
/// 成功警告
$--alert-success-color: $--color-success-lighter !default;
/// 信息警告
$--alert-info-color: $--color-info-lighter !default;
/// 警告警告
$--alert-warning-color: $--color-warning-lighter !default;
/// 危险警告
$--alert-danger-color: $--color-danger-lighter !default;

/* Radio 单选框
-------------------------- */
/// 字体大小
$--radio-font-size: $--font-size-base !default;
/// 字体粗细
$--radio-font-weight: $--font-weight-primary !default;
/// 字体颜色
$--radio-font-color: $--color-text-regular !default;

// input
/// 宽度
$--radio-input-width: 14px !default;
/// 高度
$--radio-input-height: 14px !default;
/// 背景色
$--radio-input-background-color: $--color-white !default;

// 边框 input
/// 边框
$--radio-input-border: $--border-base !default;
/// 边框颜色 hover
$--radio-input-border-color-hover: $--color-primary !default;
/// 边框圆角
$--radio-input-border-radius: $--border-radius-circle !default;

// 选中
/// 字体颜色
$--radio-checked-font-color: $--color-primary !default;
/// 边框颜色 input
$--radio-checked-input-border-color: $--color-primary !default;
/// 单选框颜色
$--radio-checked-icon-color: $--color-primary !default;
