@import "./common/var.scss";
@import "./mixins/mixins.scss";
@import "./mixins/utils.scss";
@import "./mixins/_button.scss";

@include b(button) {
  display: inline-block;
  color: $--button-default-font-color;
  font-weight: $--button-font-weight;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  border: $--border-base;
  border-color: $--button-default-border-color;
  outline: none;
  background-color: $--button-default-background-color;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  transition: 0.1s;
  box-sizing: border-box;

  @include utils-user-select(none);

  @include button-size(
    $--button-padding-vertical,
    $--button-padding-horizontal,
    $--button-font-size,
    $--button-border-radius
  );

  // 相邻按钮间距
  & + & {
    margin-left: 10px;
  }

  // 图标和文字间距
  [class*="el-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }

  &:active {
    color: mix(
      $--color-black,
      $--color-primary,
      $--button-active-shade-percent
    );
    border-color: mix(
      $--color-black,
      $--color-primary,
      $--button-active-shade-percent
    );
    outline: none;
  }

  // 朴素按钮
  @include when(plain) {
    &:hover,
    &:focus {
      color: $--color-primary;
      border-color: $--color-primary;
      background-color: $--color-white;
    }

    &:active {
      color: mix(
        $--color-black,
        $--color-primary,
        $--button-active-shade-percent
      );
      border-color: mix(
        $--color-black,
        $--color-primary,
        $--button-active-shade-percent
      );
      background-color: $--color-white;
      outline: none;
    }
  }

  // 圆角按钮
  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }

  // 圆形按钮
  @include when(circle) {
    border-radius: 50%;
    padding: $--button-padding-vertical;
  }

  // 禁用按钮
  @include when(disabled) {
    // 禁用 + 朴素 按钮
    &,
    &:hover,
    &:focus,
    &:active,
    &.is-plain,
    &.is-plain:hover,
    &.is-plain:focus,
    &.is-plain:active {
      cursor: not-allowed;
      color: $--button-disabled-font-color;
      border-color: $--button-disabled-border-color;
      background-color: $--button-disabled-background-color;
    }

    // 禁用 + 文字 按钮
    &.el-button--text {
      background-color: transparent;
    }
  }

  // 主要按钮
  @include m(primary) {
    @include button-variant(
      $--button-primary-font-color,
      $--button-primary-background-color,
      $--button-primary-border-color
    );
  }

  // 成功按钮
  @include m(success) {
    @include button-variant(
      $--button-success-font-color,
      $--button-success-background-color,
      $--button-success-border-color
    );
  }

  // 警告按钮
  @include m(warning) {
    @include button-variant(
      $--button-warning-font-color,
      $--button-warning-background-color,
      $--button-warning-border-color
    );
  }

  // 危险按钮
  @include m(danger) {
    @include button-variant(
      $--button-danger-font-color,
      $--button-danger-background-color,
      $--button-danger-border-color
    );
  }

  // 信息按钮
  @include m(info) {
    @include button-variant(
      $--button-info-font-color,
      $--button-info-background-color,
      $--button-info-border-color
    );
  }

  // 文字按钮
  @include m(text) {
    color: $--color-primary;
    border-color: transparent;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: mix(
        $--color-white,
        $--color-primary,
        $--button-hover-tint-percent
      );
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: mix(
        $--color-black,
        $--color-primary,
        $--button-active-shade-percent
      );
      border-color: transparent;
      background-color: transparent;
    }

    // 文字 + 禁用 按钮
    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }

  // 中等按钮
  @include m(medium) {
    @include button-size(
      $--button-medium-padding-vertical,
      $--button-medium-padding-horizontal,
      $--button-medium-font-size,
      $--button-medium-border-radius
    );
  }

  // 小型按钮
  @include m(small) {
    @include button-size(
      $--button-small-padding-vertical,
      $--button-small-padding-horizontal,
      $--button-small-font-size,
      $--button-small-border-radius
    );
  }

  // 超小按钮
  @include m(mini) {
    @include button-size(
      $--button-mini-padding-vertical,
      $--button-mini-padding-horizontal,
      $--button-mini-font-size,
      $--button-mini-border-radius
    );
  }
}
