@import "./config.scss";
@import "../common/var.scss";

/* BEM
 -------------------------- */
// 块
@mixin b($block) {
  $B: $namespace + "-" + $block;

  @at-root {
    .#{$B} {
      @content;
    }
  }
}

// 修饰符
@mixin m($modifier) {
  $selector: &;
  $currentSelector: "";

  @each $unit in $modifier {
    $currentSelector: #{$currentSelector +
      $selector +
      $modifier-separator +
      $unit +
      ","};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

// 状态
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

/* Break-points 媒体查询
 -------------------------- */
@mixin res($key, $map: $--breakpoints) {
  @if map-has-key($map, $key) {
    @media only screen and #{inspect(map-get($map, $key))} {
      @content;
    }
  } @else {
    @error "Undefined points: `#{$map}`";
  }
}
