// 清除浮动
@mixin utils-clearfix {
  $selector: &;

  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: block;
      content: "";
    }

    #{$selector}::after {
      clear: both;
    }
  }
}

// 控制用户能否选中文本
@mixin utils-user-select($value) {
  user-select: $value;
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}
